.modal-change-password {
    max-width: 300px;
    padding: 20px;
    
}

.ant-modal-root .modal-change-password .ant-modal-content {
    padding: 20px;
}

.avatar-preview {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

#file-upload.file-input {
    display: none;
}
  
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #3281d4;
    color: white;
    border-radius: 4px;
}