
  .ghe {
    width: 35px; /* Giảm kích thước ghế */
    height: 35px; /* Giảm kích thước ghế */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 12px 2px 12px;
    background-color: rgb(123, 122, 122);
    color: #fff;
}

  .gheDaDat {
    background-color: rgb(172, 82, 82) !important;
    cursor: no-drop;
  }

  .gheKhachVip {
    cursor: no-drop;
  }

  .gheDangDat {
    background-color: rgb(18, 176, 18) !important;
  }

  .gheVip {
    background-color: rgb(104, 140, 238);
  }

  .gheMinhDat {
    background-color: rgb(199, 235, 241) !important;
    -webkit-box-shadow: 1px 1px 16px -5px rgb(214, 179, 113) ;
    box-shadow: 1px 1px 16px -5px rgb(177, 146, 90);
    color: orange !important;
    border: 1px solid rgb(192, 155, 87);
  }

  .gheKhachDangDat{
    background-color: rgb(26, 57, 151) ;
    
  }

  .ml-20 {
    margin-left: 70px !important;
  }

   .p-5 .ant-tabs .ant-tabs-nav {
    margin-left: 140px;
  }


  .button-goback {
    background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


  .payment-container {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    border: 2px solid #4caf50; /* Đường viền khung */
  border-radius: 10px; /* Bo tròn các góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow để làm nổi bật */
  }
  
  .payment-header {
    margin-bottom: 20px;
  }
  
  .payment-title {
    font-size: 36px;
    color: green;
  }
  
  .payment-subtitle {
    font-size: 24px;
    font-weight: bold;
  }
  
  .payment-order-id {
    margin-top: 10px;
  }
  
  .payment-details p{
    font-size: 16px;
  }
  
  .ticket-image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
  
  .ticket-info {
    flex: 1;
    text-align: left;
    margin-left: 20px;
  }
  
  .ticket-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .ticket-details {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .ticket-price {
    text-align: right;
  }
  
  .price-text {
    font-size: 18px;
    font-weight: bold;
    color: green;
  }
  
  .payment-footer {
    margin-top: 20px;
  }
  
  .ok-button {
    background-color: #1890ff;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ok-button:hover {
    background-color: #40a9ff;
  }
  