.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .section-title::before,
  .section-title::after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: black;
    position: relative;
    display: inline-block;
    /* margin: 0 10px; */
  }
  
  .section-title::before {
    top: -5px;
    box-shadow: 0 10px black;
  }
  
  .section-title::after {
    top: 5px;
    box-shadow: 0 -10px black;
  }
  
  .section-title span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    
  }

  
.news-card {
  background-color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.news-card:hover {
  transform: scale(1.05);
}

.news-card img {
  border-bottom: 1px solid #333;
}

.news-card .p-4 {
  padding: 16px;
}

.news-card .text-gray-400 {
  color: #b3b3b3;
}

.news-card .text-white {
  color: #ffffff;
}


